VITE_API_URL=http://localhost:8000
VITE_SERVER_URL=http://localhost:8000
VITE_ALLOWED_HOSTS=online-platform-t3xm.onrender.com,do.vtgk.kz
VITE_SUPPORT_ENABLED=true
VITE_SUPPORT_PHONE=+7 (700) 000-00-00
